
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
	<link href="https://fonts.googleapis.com/css?family=Girassol&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Merriweather:900i&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href='/index.css'>
    <link rel="stylesheet" type="text/css" href='/floatingicon.css'>
    <link rel="stylesheet" type="text/css" href='/bubblybutton.css'>
    <title>D!rt2Shine</title>
</head>

<body>
	<div id="loading" class="card ">
		<style>
			#loading{
				background-image: url('/images/background1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
	border:0px;
			}
		</style>
		            <h1 id="loadingh1"> <span id="dirt">D!rt</span><span id="two">2</span><span id="shine">Shine</span></h1>
		<p id="loadingp">
			Don't get caught riding dirty
		</p>
	</div>
	<script>
		var loader=setInterval(function(){ 
		if($("#dirt").text()=="D!rt"){
			$("#dirt").text("Dirt");
			$("#shine").text("Sh!ne");
		}
			else{
				$("#dirt").text("D!rt");
				$("#shine").text("Shine");
			}
		
		
		}, 500);
	</script>
	<div id="main"style="display:none;">
		
	
    <div  >
        <nav class="navbar navbar-expand-lg navbar-dark ">

            <a class="navbar-brand" href="/"><h1> <span id="dirt">D!rt</span><span id="two">2</span><span id="shine">Shine</span></h1></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                   
					<% if(!user){  %>
					
					
                    <a class="nav-item nav-link" href="/signup">Signup</a>
                    <a class="nav-item nav-link" href="/login">Login</a>
				<%}%>
					
                 
					<% if(user){  %>
					 <a class="nav-item nav-link" href="/changePassword">Change Password</a>
					 <a class="nav-item nav-link" href="/logout">Logout</a>
					<%}%>
					<a class="nav-item nav-link" href="/about">About Us</a>
                </div>
            </div>

        </nav>
    </div>

		<%if(success && success.length>0){%>
		 <div class="alert alert-dark " role="alert" style="margin:0 0;border-radius:0px;" >			 
				 <%= success %>		
</div>
		<%}%>
			 <%if(error&& error.length>0){%>
<div class="alert alert-danger" role="alert"style="margin:0 0;border-radius:0px;">		 
				 <%= error %>			
		</div>	 
			 <%}%>
<%if(info&& info.length>0){%>
<div class="alert alert-primary" role="alert" style="margin:0 0;border-radius:0px;">   
				 <%= info %>			 
		</div>	 
			 <%}%>
        <div class="card">
        <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner"style="z-index:-1;">
                <div class="carousel-item active" data-interval="4000">
                    <img src="/images/cars/car1.jpg" class="d-block w-100" alt="Car1">
                </div>
                <div class="carousel-item" data-interval="4000">
                    <img src="/images/cars/car2.jpg" class="d-block w-100" alt="Car2">
                </div>
                <div class="carousel-item" data-interval="4000">
                    <img src="/images/cars/car3.jpg" class="d-block w-100" alt="Car3">
                </div>
            </div>
            
        </div>
        <div class="card-body">
            <h1 class="card-title" style="color:#C0C0C0	;"id="silver">Silver</h1>
            <p class="card-text">This package includes 4 washes per month which will be done once in a week</p>
				<div  id="radiobtns">
	<div class="tier">
		
<input class="switch" id="check1" type="checkbox"checked><label for="check1">&nbsp;</label>
<span class="card-text">Hatchback/Sedan </span>
		
				</div>
				<div class="tier">
					
			
	<input class="switch" id="check2" type="checkbox"><label for="check2">&nbsp;</label>
<span class="card-text">SUV/Compact SUV</span>
</div>
 	</div>
			<br>
            <div class="item button-jittery" style="display:flex;justify-content:space-between;">
                <button onclick="window.location.href ='/booknow/Silver'" class="btn btn1">Book Now</button>
				<h4 style="color:#00FF7F;">
					Rs:<span id="silvercost"> 0</span>
				</h4>
            </div>
        </div>
    </div>
<div class="card">
        <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner"style="z-index:-1;">
                <div class="carousel-item active" data-interval="4000">
                    <img src="/images/cars/car2.jpg" class="d-block w-100" alt="Car1">
                </div>
                <div class="carousel-item" data-interval="4000">
                    <img src="/images/cars/car3.jpg" class="d-block w-100" alt="Car2">
                </div>
                <div class="carousel-item" data-interval="4000">
                    <img src="/images/cars/car1.jpg" class="d-block w-100" alt="Car3">
                </div>
            </div>
            
        </div>
        <div class="card-body">
            <h1 class="card-title" style="color:#e8b923;"id="gold">Gold</h1>
            <p class="card-text">This package includes 8 washes per month which will be done twice a week</p>
				<div  id="radiobtns">
	<div class="tier">
		
<input class="switch" id="check3" type="checkbox"checked><label for="check3">&nbsp;</label>
<span class="card-text">Hatchback/Sedan </span>
		
				</div>
				<div class="tier">
					
			
	<input class="switch" id="check4" type="checkbox"><label for="check4">&nbsp;</label>
<span class="card-text">SUV/Compact SUV</span>
</div>
 	</div>
			<br>
           <div class="item button-jittery" style="display:flex;justify-content:space-between;">
                <button onclick="window.location.href ='/booknow/Gold'" class="btn btn1">Book Now</button>
				<h4 style="color:#00FF7F;">
					Rs:<span id="goldcost"> 0</span>
				</h4>
            </div>

        </div>
    </div>

    <div class="card">
        <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner"style="z-index:-1;">
                <div class="carousel-item active" data-interval="4000">
                    <img src="/images/bikes/bike1.jpg" class="d-block w-100" alt="Bike1">
                </div>
                <div class="carousel-item" data-interval="4000">
                    <img src="/images/bikes/bike2.jpg" class="d-block w-100" alt="Bike2">
                </div>
                <div class="carousel-item" data-interval="4000">
                    <img src="/images/bikes/bike3.jpg" class="d-block w-100" alt="Bike3">
                </div>
            </div>
            
        </div>
        <div class="card-body">
            <h1 class="card-title" style="color:#e5e4e2;"id="platinum">Platinum</h1>
            <p class="card-text">This package is suitable for those who are looking for a single time wash</p>
				<div  id="radiobtns">
	<div class="tier">
		
<input class="switch" id="check5" type="checkbox"checked><label for="check5">&nbsp;</label>
<span class="card-text">Hatchback/Sedan </span>
		
				</div>
				<div class="tier">
					
			
	<input class="switch" id="check6" type="checkbox"><label for="check6">&nbsp;</label>
<span class="card-text">SUV/Compact SUV</span>
</div>
 	</div><br>
            <div class="item button-jittery" style="display:flex;justify-content:space-between;">
                <button onclick="window.location.href ='/booknow/Platinum'" class="btn btn1">Book Now</button>
				<h4 style="color:#00FF7F;">
					Rs:<span id="platinumcost"> 0</span>
				</h4>
            </div>
        </div>
    </div>
    <div class="card">
        <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner"style="z-index:-1;">
                <div class="carousel-item active" data-interval="4000">
                    <img src="/images/bikes/bike1.jpg" class="d-block w-100" alt="Bike1">
                </div>
                <div class="carousel-item" data-interval="4000">
                    <img src="/images/bikes/bike2.jpg" class="d-block w-100" alt="Bike2">
                </div>
                <div class="carousel-item" data-interval="4000">
                    <img src="/images/bikes/bike3.jpg" class="d-block w-100" alt="Bike3">
                </div>
            </div>
            
        </div>
        <div class="card-body">
            <h1 class="card-title" style="color:#B9F2FF;"id="diamond">Diamond</h1>
            <p class="card-text">This package is suitable for those who are looking for a single time wash</p>
				<div  id="radiobtns">
	<div class="tier">
		
<input class="switch" id="check7" type="checkbox"checked><label for="check7">&nbsp;</label>
<span class="card-text">Hatchback/Sedan </span>
		
				</div>
				<div class="tier">
					
			
	<input class="switch" id="check8" type="checkbox"><label for="check8">&nbsp;</label>
<span class="card-text">SUV/Compact SUV</span>
</div>
 	</div><br>
            <div class="item button-jittery" style="display:flex;justify-content:space-between;">
                <button onclick="window.location.href ='/booknow/Diamond'" class="btn btn1">Book Now</button>
				<h4 style="color:#00FF7F;">
					Rs:<span id="diamondcost"> 0</span>
				</h4>
            </div>
        </div>
    </div>

    <div id="social">
        <div id="icondiv">
            <a class="callBtn smGlobalBtn" href="tel:+918939667663"></a>
            <a class="whatsappBtn smGlobalBtn" href="whatsapp://send?text=Hi there!I would like to book a slot&phone=+918939667663"></a>
            <a class="facebookBtn smGlobalBtn" href="https://www.facebook.com/GRKs-Dirt-shine-107154547427558/"></a>
            <a class="instagramBtn smGlobalBtn" href="https://www.instagram.com/grk_s_dtos/"></a>
            <a class="gmailBtn smGlobalBtn" href="mailto:grkdirt2shine@gmail.com?subject=Hi there! I would like to book a slot"></a>
        </div>
        <div>
            <a class="addBtn smGlobalBtn inactive" href="#"></a>
        </div>
    </div>
<div class="card contact">
	
	<hr class="hr-1" style="width:90%;margin:0 auto;">
    <div class="footer-social-icons card-body">

        <h1 class="_14"><span id="dirt">Con</span><span id="two">t</span><span id="shine">act</span></h1>

        <h3>
			 Arvind
			 		 </h3>
        <h5>
			 +91978654321
		 </h5>

        <div class="social-icons" style="display:flex;justify-content:space-between;margin:0 auto;">
            <li>
                <a href="tel:+919952922719" class="social-icon"> <i class="fa fa-phone"></i></a>
            </li>
            <li>
                <a href="whatsapp://send?text=Hi there!I would like to book a slot&phone=+919952922719" class="social-icon"> <i class="fa fa-whatsapp"></i></a>
            </li>
            <li>
                <a href="https://www.facebook.com/" class="social-icon"> <i class="fa fa-facebook-official"></i></a>
            </li>
            <li>
                <a href="https://www.instagram.com/" class="social-icon"> <i class="fa fa-instagram"></i></a>
            </li>
            <li>
                <a href="mailto:arvindtheboss1997@gmail.com?subject=Hi there! I would like to book a slot" class="social-icon"> <i class="fa fa-envelope"></i></a>
            </li>

        </div>

    </div>
		
</div>
		</div>
   
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	 <script>window.onload = function() {
			 
		
			 setTimeout(function(){  	
				
				
								    $("#loading").css("display","none");
				
				 $("#main").fadeIn("slow");
				  clearInterval(loader);
								 }, 1000);
			

};</script>
    <script src="/index.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>